{
  "sourceMaps": "inline",
  "plugins": [
    ["module-resolver", {
      "root": [ "." ],
      "alias": {
        "^@(.+)": "./src/\\1"
      }
    }]
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "stage-3"
  ]
}